<div class="main">
  <div class="container my-container">
    <div class="content">
    	<div class="flex-container">

    		<div>
	    		<h1><%= @user.firstname %> Profile</h1>

				Firstname: <%= @user.firstname %><br />
				Lastname: <%= @user.lastname %><br />
				Country: <%= @user.country %><br />
				City: <%= @user.city %><br />
				Phone: <%= @user.phone %><br />
    		</div>

    		<h1>Дякую за замовлення</h1>
    	</div>
	</div>
  </div>
</div>
