<%= form_for @unit do |f| %>

<p><%= f.label :category %></p>
<%= select_tag 'category_id', options_from_collection_for_select(Category.all, 'id', 'name')%>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :shortbody %>
  <%= f.text_area :shortbody, :class => "tinymce", :rows => 5, :cols => 120 %>
 <%= tinymce %><br/>
</div>

<div class="form-group">
  <%= f.label :body %>
  <%= f.text_area :body, :class => "tinymce", :rows => 40, :cols => 120 %>
 <%= tinymce %><br/>
</div>

<div class="form-group">
   <%= f.label :count %>
   <%= f.text_field :count, class: 'form-control' %>
</div>

<div class="form-group">
   <%= f.label :price %>
   <%= f.text_field :price, class: 'form-control' %>
</div>

<div class="form-group">
   <%= f.submit 'Зберегти', class: 'btn btn-primary' %>
     <%= link_to 'Назад', :back, class: 'btn btn-outline-secondary'%>
</div>

<% end %>