<div class="main main_height">
  <div class="container my-container ">
    	<div class="content">
    	<h1 align="center"><%= sanitize @unit.title %></h1>
			<div class="col-md-12" style="text-align: justify;">
				<p>Опис:  <%= sanitize @unit.shortbody %></p>
				<%= sanitize @unit.body%>
			</div>
			price : <%=  @unit.price%>
			count: <%=  @unit.count%>

		</div>
	</div>
</div>
